.order-tracker-container {
    display: flex;
    flex-direction: row;
    padding: 30px 15px;

    .order-tracker {
        flex-direction: column;
        display: flex;
        flex: 1;
        border-right: 1px solid #ddd;
        padding: 0 20px;

        &:last-child {
            border: none;
        }
    }

    .count {
        font-size: 32px;
        font-weight: 800;
    }

    .name {
        font-size: 16px;
    }
}

.products-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 20px;
    &::-webkit-scrollbar {
        display: none;
    }

    .product {
        width: 140px;
        min-width: 140px;
        background-color: #fff;
        border-radius: 6px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        img {
            width: 140px;
            height: 80px;
            object-fit: cover;
            overflow: hidden;
            margin-bottom: 2px;
        }
        .product-detail {
            padding: 4px 8px;
            display: flex;
            flex-direction: column;
            .name {
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}
